body
{
width : 1146px;
margin: auto;
font-family : calibri, "times new roman", serif;
font-size: 15px;
}

/* Design des images de fond*/
body[class="back_parametres"]
{
	background-image : url("../images/parametrage.png");
}

/* Couleurs de base */
.red /* Messages d'erreur */
{
color : red;
font-size: 14px;
}

.noaxis /* Si champ déjà un axe calculé (axes calculés / montants conditonnels)*/
{
color : #64341f;
}

a.virtual /* Si dossier virtuel (axes calculés / montants conditonnels)*/
{
color : #004a45;
}

.white
{
	color : white;
}

.left
{
	margin : left;
    width : 30%;
	display : inline-block;
}

.middle
{
	margin : auto;
	width : 30%;
	display : inline-block;
}

.right
{
	margin : right;
    width : 30%;
	display : inline-block;
}

/* Titres de base (?) */
h3
{
text-align : center;
}

/* Trucs écrit tout petit */
.small
{
	font-size : 11px;
}

/* Design des menues déroulants dynamiques*/
.selector
{
	margin-right : 10px;
	margin-left : 10px;
}

.filtre_select
{
	  font-family: calibri, "times new roman", serif;
	  font-size : 13px;
	  height : 25px;
}

.inline_filtre
{
	display : inline;
}

#res
{
	display : inline;
}

/* Paramétrage - Design des tableaux */

th
{
	border : 1px solid #817e94;
	border-radius : 8px;
	-moz-box-shadow: 1px 1px 3px 0px #c0c0c0;
-webkit-box-shadow: 1px 1px 3px 0px #c0c0c0;
-o-box-shadow: 1px 1px 3px 0px #c0c0c0;
box-shadow: 1px 1px 3px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=3);
background-image : radial-gradient(#ffffff, #fcfdff);
font-weight : normal;
padding : 5px;
}

td
{
	border : 1px solid #817e94;
	border-radius : 4px;
	-moz-box-shadow: 1px 1px 3px 0px #c0c0c0;
-webkit-box-shadow: 1px 1px 3px 0px #c0c0c0;
-o-box-shadow: 1px 1px 3px 0px #c0c0c0;
box-shadow: 1px 1px 3px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=3);
background-image : radial-gradient(#ffffff, #fcfdff);
padding : 5px;
}

.colorinf
{
	text-decoration : none;
	color : #99cc00
}	

.colorinf:hover
{
	background-color: #665e60;
	text-decoration : none;
	color : #99cc00
}	

input:placeholder-shown
{
    color:#99cc00;
	font-style : italic;
	text-align : center;
}

input:placeholder
{
	border: 5px solid red;
}


.padding_cell
{
	text-align : center;
}

table 
{
	margin : auto;
}

/* Formulaire */

.form_inline
{
	margin : auto;
	display : inline;
}

.nom_user
{
	float : right;
	margin-top : 10px;
}

.reduire
{
	width : 15px;
	height : 15px;
	float : right;
}

/* Bouton de validation */

.validate
{
	-moz-box-shadow: inset 5px 5px 40px 0px #99cc00;
	-webkit-box-shadow: inset 5px 5px 40px 0px #99cc00;
	-o-box-shadow: inset 5px 5px 40px 0px #99cc00;
	box-shadow: inset 5px 5px 40px 0px #99cc00;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#99cc00, Direction=134, Strength=40);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family : calibri, "times new roman", serif;
	font-size: 17px;
	text-decoration : bold;
	color : white;
}

.validate:hover
{
	-moz-box-shadow: inset 5px 5px 40px 0px #665e60;
	-webkit-box-shadow: inset 5px 5px 40px 0px #665e60;
	-o-box-shadow: inset 5px 5px 40px 0px #665e60;
	box-shadow: inset 5px 5px 40px 0px #665e60;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#665e60, Direction=134, Strength=40);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family : calibri, "times new roman", serif;
	font-size: 17px;
	text-decoration : bold;
	color : white;
	cursor:  pointer;
}

/* Divers élements centré ou placé */

.center
{
	margin : auto;
	display : block;
	text-align : center;
	border-radius: 15px;
	border : solid 1px #cfcbca;
	-moz-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-webkit-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-o-box-shadow: 10px 10px 10px 0px #c0c0c0;
	box-shadow: 10px 10px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
	background-color : #f6f6ff;
	padding : 10px;
}

.center_inline_shadowed
{
	margin : auto;
	display : inline;
	text-align : center;
	border-radius: 15px;
	-moz-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-webkit-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-o-box-shadow: 10px 10px 10px 0px #c0c0c0;
	box-shadow: 10px 10px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
	background-color : #f6f6ff;
	padding : 10px;
}

.center_inline
{
	margin : auto;
	display : inline;
	text-align : center;
}

.center_block
{
	margin : auto;
	display : block;
	text-align : center;
}

/* STYLE DES PARAMETRES RUBRIQUES - TUTORATE*/
/* Titre des rubriques*/
.titre_params
{
	font-family : Calibri, "Bookman Old Style", tahoma, serif;
	font-size : 23px;
	color : #99cc00;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

.titre_params_rubriques
{
	font-family : Calibri, "Bookman Old Style", tahoma, serif;
	font-size : 19px;
	color : #99cc00;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

.titre_params_cube
{
	font-family : Calibri, "Bookman Old Style", tahoma, serif;
	font-size : 16px;
	color : #99cc00;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

/* Paragraphe des rubriques */

#para_services, #para_statuts, #para_droits, #rapports_droits, #eval_droits
{
	display : none;
}

/* Emplacement et style liste des rubriques */
.rubriques_form
{
	margin-left : 170px;
	margin-top : -120px;
}

.rubriques_form_statut
{
	margin-left : 170px;
	margin-top : -160px;
}

.rubriques_add
{
	margin-left : 380px;
	margin-top : -180px;
}

.rubriques_confirm
{
	margin-left : 650px;
	margin-top : -140px;
}

.rubriques_select
{
	font-family : Calibri, "Bookman Old Style", tahoma, serif;
	font-size : 14px;
	border-radius: 15px;
	border : solid 1px #cfcbca;
	-moz-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-webkit-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-o-box-shadow: 10px 10px 10px 0px #c0c0c0;
	box-shadow: 10px 10px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
	background-color : #f6f6ff;
	padding : 10px;
}

/* Style des boutons modif et supp des rubriques */

.hidden_button
{
	 opacity: 0.5;
	 cursor : not-allowed;
}

/* Style des encarts des para rubriques */

option:checked
{
	border-radius : 4px;
	background-image : radial-gradient(#3c3ea9, #000c4a); 
	padding : 3px;
} 

#style-8::-webkit-scrollbar-track
{
	border: 1px solid #cfcbca;
	background-color: #F5F5F5;
	border-radius : 15px;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-image : radial-gradient(#3c3ea9, #000c4a); 
	border-radius : 15px;
}

.cursor_pointer:hover
{
	cursor : pointer;
}

.right_inline
{
	margin-left : 77%;
}

.left_inline
{
	margin-right : 70%;
}

.rubriques
{
	font-size : 16px;
}

 hr.barre
{ 
	 height: 12px;
	 border: 0; 
	 box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.35);
} 

.blue
{
	width : 16px;
	height : 17px;
}


#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;   
}
 
#tooltip .tipHeader {
    height:8px;
}

.horizontal_block
{
	width : 870px;
	margin : auto;
	font-family : Calibri, "Bookman Old Style", tahoma, serif;
	font-size : 15px;
	border-radius: 15px;
	border : solid 2px #cfcbca;
	-moz-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-webkit-box-shadow: 10px 10px 10px 0px #c0c0c0;
	-o-box-shadow: 10px 10px 10px 0px #c0c0c0;
	box-shadow: 10px 10px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
	background-color : rgba(153,204,0,0.06)    /* 40% opaque */  ;
	padding : 10px;
}
 
/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
    background-color: #000055;
    padding:5px 5px 5px 15px;
	-moz-box-shadow: 1px 1px 5px 0px #010066;
	-webkit-box-shadow: 1px 1px 5px 0px #010066;
	-o-box-shadow: 1px 1px 5px 0px #010066;
	box-shadow: 1px 1px 5px 0px #010066;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#010066, Direction=134, Strength=5);
}
 
#tooltip .tipFooter {
    height:8px;
}

/* MENU DYNAMIQUE */

/* div item caches par defaut */
.item{
  display: none;
  font-size : 16px;
  font-family: calibri, "times new roman", serif;
   font-weight : bold;
  margin-bottom: 20px;
  padding : 15px;
}
 
.lienItem{
 text-decoration: none;
 color: white;
  background-image : radial-gradient(#99cc00, #5f6d37); 
 font-family: calibri, "times new roman", serif;
 font-weight : bold;
 font-size : 16px;
 border: 1px solid #3c73c4;
 border-radius : 4px;
-moz-box-shadow: 1px 1px 1px 0px #99cc00;
-webkit-box-shadow: 1px 1px 1px 0px #99cc00;
-o-box-shadow: 1px 1px 1px 0px #99cc00;
box-shadow: 1px 1px 1px 0px #99cc00;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#010066, Direction=134, Strength=2);
}

.lienItem_right{
 float : right;
 text-decoration: none;
 color: white;
 background-image : radial-gradient(#99cc00, #5f6d37); 
 font-family: calibri, "times new roman", serif;
  font-weight : bold;
 font-size : 13px;
 border: 1px solid #3c73c4;
 margin-top : 10px;
 border-radius : 4px;
  -moz-box-shadow: 1px 1px 1px 0px #99cc00;
  -webkit-box-shadow: 1px 1px 1px 0px #99cc00;
  -o-box-shadow: 1px 1px 1px 0px #99cc00;
  box-shadow: 1px 1px 1px 0px #99cc00;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#99cc00, Direction=134, Strength=2);
}
 
/* styleOverMenu = style du menu lors de l evenement mouseover */
/* style des liens lors du hover */
.lienItem:hover{
 background-image : radial-gradient(#665e60, #002f4a); 
 font-size : 16px;
 color: white;
 font-family: calibri, "times new roman", serif;
  font-weight : bold;
 border: 1px solid #3c73c4;  
 border-radius : 4px; 
 -moz-box-shadow: 1px 1px 3px 0px #003532;
-webkit-box-shadow: 1px 1px 1px 0px #003532;
-o-box-shadow: 1px 1px 3px 0px #003532;
box-shadow: 1px 1px 1px 0px #003532;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#003532, Direction=134, Strength=2);
}

.styleOverMenu
{
 background-image : radial-gradient(#99cc00, #5f6d37); 
 font-size : 16px;
 color: white;
 font-family: calibri, "times new roman", serif;
  font-weight : bold;
 border: 1px solid #3c73c4;  
 border-radius : 4px; 
 cursor : pointer;
 -moz-box-shadow: 1px 1px 3px 0px #99cc00;
-webkit-box-shadow: 1px 1px 1px 0px #99cc00;
-o-box-shadow: 1px 1px 3px 0px #99cc00;
box-shadow: 1px 1px 1px 0px #99cc00;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#99cc00, Direction=134, Strength=2);
}

/* styleOverMenu = style du menu lors de l evenement mouseover */
/* style des liens lors du hover */
.lienItem_right:hover{
 background-image : radial-gradient(#665e60, #002f4a); 
 font-size : 13px;
 color: white;
 font-family: calibri, "times new roman", serif;
  font-weight : bold;
 border: 1px solid #3c73c4;
 float: right; 	
 border-radius : 4px; 
 -moz-box-shadow: 1px 1px 1px 0px #003532;
-webkit-box-shadow: 1px 1px 1px 0px #003532;
-o-box-shadow: 1px 1px 1px 0px #003532;
box-shadow: 1px 1px 1px 0px #003532;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#003532, Direction=134, Strength=2);
}
 
/* style du menu lors de l evenement mouseout */
.styleOutMenu{
  font-size : 16px;
  background-image : radial-gradient(#99cc00, #5f6d37); 
  color: white;
  font-family: calibri, "times new roman", serif;
   font-weight : bold;
  border: 1px solid #3c73c4;
  cursor : pointer;
  border-radius : 4px; 
  -moz-box-shadow: 1px 1px 3px 0px #99cc00;
  -webkit-box-shadow: 1px 1px 1px 0px #99cc00;
  -o-box-shadow: 1px 1px 1px 0px #99cc00;
  box-shadow: 1px 1px 1px 0px #99cc00;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#99cc00, Direction=134, Strength=2);
}

/* FIN DU MENU DYNAMIQUE */

/* Fenetre de tips */

#tooltip {
    position:absolute;
    z-index:9999; 
    color:#fff;
    font-size:12px;
    width : 35%;
}
 
#tooltip .tipHeader {
    height:8px;
}
 
/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
    background-color: #99cc00;
    padding:5px 5px 5px 15px;
	-moz-box-shadow: 1px 1px 5px 0px #010066;
	-webkit-box-shadow: 1px 1px 5px 0px #010066;
	-o-box-shadow: 1px 1px 5px 0px #010066;
	box-shadow: 1px 1px 5px 0px #010066;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#010066, Direction=134, Strength=5);
}
 
#tooltip .tipFooter {
    height:8px;
}
/* Fin tips */


